$redBci: #ff0000;
$redLight: #ffe8e8;
$redLightSoft: #fff0f1;

$greyLighter: #f9fafc;
$greyLight: #f7f7f7;
$greyRegular: #e0e0e0;
$greyCoolBci: #808080;
$greyText: #6a6a73;
$greyTableStripped: #f7f8fa;
$greyTableBorder: #ced3d8;
$green: #0da738;

$black: #454550;

$blue: #454550;
$blueLight: #ecf7ff;

$tortoise: #03989e;
$tortoiseLight: #d8f4f5;

$white: #fff;

// New Colors
$gray94: #f0f0f0;
$newGray: #cac8c8;
$magenta: #ff7676;
$bciBlue: #0039ff;
