# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
build
dist-ssr
build-ssr
*.local
/.pnp
.pnp.js

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Package files
*.jar

# Maven
target/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Locks
yarn.lock
package-lock.json
pnpm-lock.yaml

# Env
.env
.env.local
.env.staging
.env.demo
.env.production
