*.sh
*.html
*.svg
*.png
*.jpg
*.gif
*.log
*.md
*.nix
*.csv
*.txt
*.yml
*.sh
*.snap
node_modules
coverage
package.json
/scripts
/build
/public
favicon.ico
svgLib.js
Dockerfile
Dockerfile.dev
.dockerignore
.env
.example.env
.gitignore
.eslintrc
.prettierrc
