// Fonts
$font-regular: "Roboto", sans-serif;

// width
$width-sidebar: 60px;

// box-shadow-regular
$box-shadow-regular: 2px 2px 10px rgba(0, 0, 0, 0.05) !important;

// border-radius-regular
$border-radius-regular: 8px;
